ChatBot20/Services/GoogleTTSManager/GoogleAPIs.swift
ChatBot20.xcodeproj/project.xcworkspace/xcuserdata/mikita.xcuserdatad/UserInterfaceState.xcuserstate
ChatBot20/Resorces/Assets.xcassets/roleplayMainAvatars/.DS_Store
ChatBot20/Resorces/Assets.xcassets/.DS_Store
ChatBot20.xcodeproj/xcuserdata/mikita.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
